In [2]:
from ris import Geocoder, db2, __version__, pysqldb
import datetime
import getpass
import os
import pandas as pd
from IPython.display import clear_output, Markdown
clear_output() 
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
plt.style.use('ggplot')

import seaborn as sns
import numpy as np

timestamp = datetime.datetime.now().strftime('%Y%m%d')
Markdown('<strong>Notebook run on: {} | by {} | Using ris library version: {}'.format(
    datetime.datetime.now().strftime('%Y-%m-%d %H:%M'), getpass.getuser(), __version__
))

ImportError: No module named openpyxl

In [2]:
db = pysqldb.DbConnect(type='PG', server='dotdevrhpgsql01', database='CRASHDATA')

Additional database connection details required:
Database connection (PG) to CRASHDATA on dotdevrhpgsql01 - user: shostetter
Connection established 2019-09-04 14:47:08

In [8]:
db.import_shp(path=r'E:\RIS\Staff Folders\Samuel\Requests\SH\Missing_Humps\SELECTED_SEGMENT_LION', 
              table='SELECTED_SEGMENT_LION'.lower(),
              schema='working',
              shp_name='SELECTED_SEGMENT_LION.shp')
db.dfquery("select * from working.SELECTED_SEGMENT_LION limit 5")

Query run in 19000 microseconds
Query run in 2000 microseconds
Query run in 2000 microseconds

,ogc_fid,objectid,street,safstreetn,featuretyp,segmenttyp,incexflag,rb_layer,nonped,trafdir,...,lhi_hyphen,rlo_hyphen,rhi_hyphen,fromleft,toleft,fromright,toright,join_id,shape_leng,wkb_geometry
0,1,3927,HOLLYWOOD AVENUE,None,0,U,None,B,None,A,...,499,None,None,401,499,0,0,2385201000000,527.750047,0105000020D70800000100000001020000000200000080...
1,2,3928,HOLLYWOOD AVENUE,THROGS NECK EXPRESSWAY SR,0,U,None,B,None,A,...,499,None,None,401,499,0,0,23082003020000B,527.750047,0105000020D70800000100000001020000000200000080...
2,3,4394,CROTONA PARK EAST,None,0,U,None,B,None,A,...,None,1654,1720,0,0,1654,1720,2174001000000,639.131253,0105000020D70800000100000001020000000200000080...
3,4,9181,CROTONA PARK EAST,None,0,U,None,B,None,A,...,None,1722,1808,0,0,1722,1808,2174001000000,231.721379,0105000020D70800000100000001020000000200000000...
4,5,9967,LELAND AVENUE,None,0,U,None,B,None,T,...,451,400,440,401,451,400,440,2434001000000,579.926935,0105000020D70800000100000001020000000200000080...

In [9]:
db.import_shp(path=r'E:\RIS\Staff Folders\Samuel\Requests\SH\Missing_Humps\GEOCODED_SEGMENT', 
              table='GEOCODED_SEGMENT'.lower(),
              schema='working',
              shp_name='GEOCODED_SEGMENT.shp')
db.dfquery("select * from working.GEOCODED_SEGMENT limit 5")

Query run in 11000 microseconds
Query run in 3000 microseconds
Query run in 2000 microseconds

,ogc_fid,recordid,id,rec_id,borough,date_insta,date_ins_1,onstreet,fromstreet,tostreet,...,grc,errormsg,version,compdir1,compdir2,crossstr,crossstr_1,date_ins,error,wkb_geometry
0,1,12,13,Bronx-1203,Bronx,2018-12-04,2018-12-04,DR M L KING JR BOULEVARD,WEST 168 STREET,WEST 170 STREET,...,0,None,18D,None,None,None,None,0.0,None,0105000020D70800000100000001020000000200000080...
1,2,2,3,Bronx-1030,Bronx,2017-07-18,2017-07-18,ESPLANADE,WARING AVENUE,PEARSALL AVENUE,...,0,None,18D,None,None,None,None,0.0,None,0105000020D70800000100000001020000000200000000...
2,3,9,10,Bronx-1196,Bronx,2018-10-19,2018-10-19,HUTCHINSON RIVER PARKWAY,LEE STREET,ROBERTS AVENUE,...,0,None,18D,None,None,None,None,0.0,None,0105000020D70800000100000001020000000200000080...
3,4,12,13,Bronx-1203,Bronx,2018-12-04,2018-12-04,DR M L KING JR BOULEVARD,WEST 168 STREET,WEST 170 STREET,...,0,None,18D,None,None,None,None,0.0,None,0105000020D70800000100000001020000000200000000...
4,5,12,13,Bronx-1203,Bronx,2018-12-04,2018-12-04,DR M L KING JR BOULEVARD,WEST 168 STREET,WEST 170 STREET,...,0,None,18D,None,None,None,None,0.0,None,0105000020D70800000100000001020000000200000000...

In [10]:
db.xls_to_table(
    input_file=r'E:\RIS\Staff Folders\Samuel\Requests\SH\Missing_Humps\missing_humps.xlsx',
    overwrite=True,
    table_name='missing_humps',
    schema='working'
)
db.dfquery("select * from working.missing_humps limit 5")

Reading data into Database

0it [00:00, ?it/s]c:\python27\arcgis10.4\lib\site-packages\ris\pysqldb.py:216: FutureWarning: pandas.tslib is deprecated and will be removed in a future version.
You can access Timestamp as pandas.Timestamp
  elif type(x) == pd.tslib.Timestamp:
139it [00:03, 43.90it/s]

139 rows added to working.missing_humps

,id,rec_id,borough,onstreet,crossstreetone,crossstreettwo,date_installed,date_insta,unnamed__8
0,1,Bronx-1001,Bronx,CLAY AVENUE,EAST 169th STREET,EAST 170th STREET,2017-06-14 00:00,06/14/2017,None
1,2,Bronx-1023,Bronx,EAST 215th STREET,BARNES AVENUE,BRONXWOOD AV,2017-07-20 00:00,07/20/2017,None
2,3,Bronx-1030,Bronx,ESPLANADE,WARING AVENUE,PEARSALL AV,2017-07-18 00:00,07/18/2017,None
3,4,Bronx-1034,Bronx,LELAND AVENUE,PATTERSON AVENUE,SOUNDVIEW AVENUE,2017-07-21 00:00,07/21/2017,SELECTED FROM LION
4,5,Bronx-1069,Bronx,HOLLYWOOD AVENUE,DEWEY AVENUE,RANDALL AVENYE,2017-11-09 00:00,11/09/2017,None

In [11]:
db.disconnect()

Database connection (PG) to CRASHDATA on dotdevrhpgsql01 - user: shostetter
Connection closed 2019-09-04 14:53:50